/* Common variables */
:root,
[data-theme="app"] {
    /* Basic colors */
    --background-color-red: #ca34341a;
    --background-color-yellow: #f2e37c;
    --background-conversation: red;
    --blue-root-color: rgb(32, 32, 248);
    --blue-root-color-aqua: #40c1d5;
    --blue-root-color-pastel: #cbf2ee;
    --brown-root-color: rgb(165, 73, 42);
    --brown-root-color-pastel: #d2b48c;
    --color-green: #23c35f;
    --color-red: #eb1010;
    --color-yellow: #f6ac00;
    --google-color: #a6cae2;
    --green-basic: #13c1af;
    --green-root-color: green;
    --green-root-color-pastel: #b7e1cd;
    --orange-root-color: orange;
    --orange-root-color-pastel: #ffd8b1;
    --pink-root-color: #ff497f;
    --pink-root-color-pastel: #ffb6c1;
    --purple-root-color: purple;
    --purple-root-color-pastel: #d7aaff;
    --red-root-color: red;
    --red-root-color-pastel: #ffb3ba;
    --switch-off-color: #292f46d6;
    --teal-root-color: teal;
    --teal-root-color-pastel: #afeeee;
    --top-bar-mobile-color: linear-gradient(332deg, #3503ff, #7c17b8), linear-gradient(#25008c, transparent);
    --yellow-root-color: rgb(255, 243, 18);
    --yellow-root-color-pastel: #fff9c8;

    /* Text Colors */
    --chat-text-secondary: rgb(100 107 117);
    --chat-text-primary: rgb(29 33 40);
    --chat-text-tertiary: rgb(131, 150, 168);
    --chat-text-white-or-black: white;
    --chat-text-theme-button: white;
    --chat-text-theme-background: #23c35f;
    --chat-text-tooltip: white;
    --chat-tooltip-background: rgb(68, 78, 95);

    --chat-text-dark-or-white: #050504;
    --chat-text-url: rgb(32, 32, 248);
    --chat-text-input: rgb(74, 85, 103);

    /* Conversation Chat */
    --chat-bubble-client: white;
    --chat-bubble-agent: #d9fdd3;
    --chat-bubble-info-background: #d9fdd3;
    --chat-text-bubble-info: rgb(68, 78, 95);
    --chat-text-bubble-agent: rgb(68, 78, 95);
    --chat-text-bubble-client: rgb(29 33 40);

    --chat-conversation-background: #f1ece5;
    --chat-bottom-bar-color: #f1ece5;
    --chat-top-bar-color: white;


    /* Chat App */
    --chat-left-bar-color: var(--chat-app-theme-color);
    --chat-app-loader-color: var(--chat-app-theme-color);
    --chat-app-tooltip-color: var(--chat-app-background);
    --chat-notif-background: var(--chat-app-theme-color);
    --chat-app-hr-color: rgb(66 103 132 / 20%);
    --chat-app-background: white;
    --chat-app-theme-color: #23c35f;
    --chat-app-background-2: var(--chat-btn-background-active);
    --chat-app-logo-color: var(--chat-text-white-or-black);
    --chat-background-menu-selected: var(--chat-list-background-selected);
    --chat-background-menu: var(--chat-app-background);
    --chat-border-color: rgba(66, 103, 132, 0.26);
    --chat-list-background-selected: #eaeff2;
    --chat-scroll-area-background: transparent;
    --chat-toggle-selector: white;


    /* Chat Notes */
    --chat-app-notes-color: #cce6d6;
    --chat-tag-text-color: var(--chat-text-white-or-black);

    /* Chat Tags */
    --chat-tag-text-color-active: var(--chat-text-white-or-black);
    --chat-tag-background-color: var(--chat-btn-background);
    --chat-tag-background-color-active: var(--chat-btn-background-active);

    /* Chat Inputs */
    --chat-input-focus-ring: inset 0 0 2px 0.5px #b0b7d5;
    --chat-input-background: rgb(255, 255, 255);
    --chat-input-search-responsive: var(--chat-list-background-selected);
    --chat-input-toggle-color: var(--chat-app-background);

    /* Chat Buttons */
    --chat-btn-background: #444e5f;
    --chat-btn-background-active: #6a758cc2;
    --chat-btn-text: var(--chat-text-white-or-black);
    --chat-btn-text-active: var(--chat-text-white-or-black);
    --chat-btn-translucid-color: #1d2128de;
    --chat-btn-ring-shadow: 0 0 0px 2px white, 0 0 0px 3.5px #5c6176c9;
    --chat-btn-ring-shadow-small: 0 0 0px .5px #14161dc9, 0 0 0px 1.5px #5c6176c9;

    /* Chat Lightbox */
    --chat-lightbox-top: rgb(28 26 46 / 9%);
    --chat-lightbox-background: var(--chat-app-background);

    /* Default Font Sizes */
    --chat-text-size-1-4: 1.4rem;
    --chat-text-size-1-3: 1.3rem;
    --chat-text-size-1-2: 1.2rem;
    --chat-text-size-1-1: 1.1rem;
    --chat-text-size-1-0: 1rem;
    --chat-text-size-9: 0.9rem;
    --chat-text-size-8: 0.8rem;
    --chat-text-size-7: 0.7rem;
    --chat-text-size-6: 0.6rem;
    --chat-text-size-5: 0.5rem;

    /* Default Rounded Sizes */
    --chat-rounded-size-1-4: 1.4rem;
    --chat-rounded-size-1-3: 1.3rem;
    --chat-rounded-size-1-2: 1.2rem;
    --chat-rounded-size-1-1: 1.1rem;
    --chat-rounded-size-1-0: 1rem;
    --chat-rounded-size-9: 0.9rem;
    --chat-rounded-size-8: 0.8rem;
    --chat-rounded-size-7: 0.7rem;
    --chat-rounded-size-6: 0.6rem;
    --chat-rounded-size-5: 0.5rem;
    --chat-rounded-size-3: 0.3rem;
    --chat-rounded-top-1-0: 1rem 1rem 0 0;
    --chat-rounded-bubble-agent-6: .6rem 0 .6rem .6rem;
    --chat-rounded-bubble-client-6: 0 .6rem .6rem .6rem;

    /* Default Spacing Sizes */
    --chat-y-6-auto: 0.6rem auto;
    --chat-y-1-auto: 1rem auto;
    --chat-x-6-auto: auto 0.6rem;
    --chat-x-1-auto: auto 1rem;
    --chat-spacing-size-1-4: 1.4rem;
    --chat-spacing-size-1-3: 1.3rem;
    --chat-spacing-size-1-2: 1.2rem;
    --chat-spacing-size-1-1: 1.1rem;
    --chat-spacing-size-1-0: 1rem;
    --chat-spacing-size-9: 0.9rem;
    --chat-spacing-size-8: 0.8rem;
    --chat-spacing-size-7: 0.7rem;
    --chat-spacing-size-6: 0.6rem;
    --chat-spacing-size-5: 0.5rem;

    /* Default effects & shadows */
    --box-shadow: 0 4px 14px 0 rgba(22, 23, 30, 0.275), 0 0 0 0.5px var(--chat-border-color);
    --box-shadow-left-side: -1px -1px 10px var(--chat-border-color);
    --box-shadow-right-side: 1px 1px 10px var(--chat-border-color);
    --box-shadow-conversation-line: 76px -1px 1px -0.7px var(--chat-border-color);
    --box-shadow-bordered: 0 0 1px .6px var(--chat-border-color), 0 0px 10px 0px var(--chat-border-color);
    --box-shadow-menu: 0px -1px 5px -1px rgb(0 0 0 / 20%);
    --box-shadow-bubble-chat: 0px 1px 4px -2.5px rgba(0, 0, 0, .57);
    --box-shadow-inner: inset 0 0 4px -1px rgb(48 50 65 / 38%);
    --transition-3: all 2s;
    --transition-2: all 0.55s;
    --transition: all 0.25s;
}

/* Light theme */
[data-theme="light"] {
    --chat-app-theme-color: linear-gradient(332deg, #3503ff, #7c17b8), linear-gradient(#25008c, transparent);
    --chat-conversation-background: #fbfbfb;
    --chat-bottom-bar-color: #fbfbfb;
    --chat-bubble-agent: #5220f1;
    --chat-text-bubble-agent: #ffffff;
    --chat-text-url: rgb(214, 232, 255);
    --chat-text-theme-button: white;
    --chat-text-theme-background: linear-gradient(332deg, #3503ff, #7c17b8), linear-gradient(#25008c, transparent);

}

/* Insta theme */
[data-theme="insta"] {
    --chat-app-theme-color:linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    --chat-conversation-background: #fbfbfb;
    --chat-bottom-bar-color:#fbfbfb;
    --chat-bubble-agent: rgb(9, 8, 10);
    --chat-text-bubble-agent: #ffffff;
    --chat-text-url: #ffebeb;
    --chat-text-theme-button: white;
    --chat-text-theme-background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);;

}
/* Dark theme */
[data-theme="dark"] {
    --chat-app-background: rgba(16, 16, 37, 0.544);
    --chat-app-theme-color: #5f4aff;
    --chat-conversation-background: #fbfbfb03;
    --chat-bottom-bar-color: transparent;
    --chat-bubble-agent: #5f4aff;
    --chat-text-bubble-agent: #ffffff;
    --chat-text-url: rgb(248, 248, 248);
    --chat-text-primary: white;
    --chat-image-background: radial-gradient(at 60% 48%, hsla(227, 24%, 4%, 0.19) 0px, transparent 50%), radial-gradient(at 44% 4%, hsla(289, 53%, 28%, 0.65) 0px, transparent 50%), radial-gradient(at 45% 91%, hsla(289, 47%, 18%, 1) 0px, transparent 50%), radial-gradient(at 3% 65%, hsla(238, 63%, 19%, 1) 0px, transparent 50%), radial-gradient(at 11% 100%, hsla(236, 68%, 18%, 1) 0px, transparent 50%), radial-gradient(at 30% 0%, hsla(236, 68%, 18%, 1) 0px, transparent 50%), radial-gradient(at 85% 0%, hsla(224, 81%, 18%, 1) 0px, transparent 50%), radial-gradient(at 63% 97%, hsla(286, 61%, 18%, 1) 0px, transparent 50%), radial-gradient(at 0% 8%, hsla(238, 63%, 19%, 1) 0px, transparent 50%), radial-gradient(at 100% 0%, hsla(224, 82%, 24%, 1) 0px, transparent 50%), radial-gradient(at 73% 45%, hsla(324, 77%, 66%, 1) 0px, transparent 50%), radial-gradient(at 48% 32%, hsla(194, 79%, 74%, 1) 0px, transparent 50%), radial-gradient(at 94% 76%, hsla(276, 17%, 19%, 1) 0px, transparent 50%), radial-gradient(at 0% 67%, hsla(227, 58%, 23%, 1) 0px, transparent 50%), radial-gradient(at 0% 98%, hsla(238, 68%, 20%, 1) 0px, transparent 50%), radial-gradient(at 87% 26%, hsla(181, 89%, 51%, 1) 0px, transparent 50%);
    --chat-image-color-background: hsla(272, 0%, 0%, 1);
    --chat-text-secondary: rgb(194 205 223);
    --chat-background-menu-selected: #5f4aff;
    --chat-background-menu: rgb(25 25 54);
    --chat-top-bar-color: transparent;
    --chat-border-color: rgb(128 169 202 / 26%);
    --chat-lightbox-background: rgb(16 16 37 / 70%);
    --chat-input-background: rgb(20 18 47);
    --chat-text-white-or-black: rgb(255, 255, 255);
    --chat-btn-background: white;
    --chat-btn-background-active: #bac4db;
    --chat-input-focus-ring: inset 0 0 2px 1px #000000;
    --chat-text-theme-button: white;
    --chat-text-theme-background: #5f4aff;
    --chat-text-daterangepicker: white;
    --chat-daterangepicker-background: #5f4aff;
    --chat-btn-text: rgb(68, 78, 95);
    --chat-btn-background: white;
    --chat-btn-text-active: white;
    --chat-btn-background-active: #363c57;
    --chat-text-tertiary: rgb(120 119 154);
    --chat-input-search-responsive: rgb(20 18 47);
    --chat-text-input: #e7e5f7;
    --chat-toggle-selector: white;
    --chat-text-tooltip: white;
    --chat-tooltip-background: #2e2e45;
    --chat-bottom-bar-color: #fbfbfb03;
    --chat-btn-translucid-color: #ffffffde;
    --chat-input-toggle-color: white;
    --chat-text-bubble-client: rgb(29 33 40);








    --box-shadow: 0 4px 14px 0 rgba(22, 23, 30, 0.275), 0 0 0 0.5px var(--chat-border-color);
    --box-shadow-left-side: -1px -1px 10px var(--chat-border-color);
    --box-shadow-right-side: 1px 1px 10px var(--chat-border-color);
    --box-shadow-conversation-line: 76px -1px 1px -0.7px var(--chat-border-color);
    --box-shadow-bordered: 0 0 1px .6px var(--chat-border-color), 0 0px 10px 0px var(--chat-border-color);
    --box-shadow-menu: 0px -1px 5px -1px var(--chat-border-color);
    --box-shadow-bubble-chat: 0px 1px 4px -2.5px var(--chat-border-color);
    --box-shadow-inner: inset 0 0 4px -1px var(--chat-border-color);

}